html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}
img {
    width:100%;
    height:auto;
    position:absolute;
    top:-100%; 
    bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}